<!DOCTYPE html>

<html>

<head>
    <title>Bacancy | About Us </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="align__center">
        <p id="title1" style="color: orange"> A Leader in Agile and Lean Software Development </p>
        <img class="portrait" src="/img/logo.png">
        </div>
        <ul>
        <li id="message1" style="color: floralwhite; "> Bacancy Technology </li>
        <li id="message1" style="color: floralwhite; "> Started since 2011 </li>
        <li id="message1" style="color: floralwhite; "> JS Frameworks, MS Stack, Mobile, Cloud, DevOps </li>
        </ul>
    </div>
    
    {{>footer}}
</body>

</html>