<!DOCTYPE html>

<html>

<head>
    <title>Bacancy | Contact Us </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="message1"> Ahmedabad, Gujarat, India </p>
        <p>1207-1210, Time Square, Thaltej-Shilaj Road, Ahmedabad  </p> 
        <p id="message1"> Pune, India </p>
        <p>2nd Floor, Marisoft-1, Marigold IT Park, Pune</p> 
        <p id="message1" > Torronto, Canada </p>
        <p>71 Dawes Road, Brampton, On L6X 5N9, Toronto </p> 
        <p id="message1"> Florida, USA  </p>
         <p>4995 NW 72nd Ave, Suite 307 Miami, FL 33166 </p> 
        </div>
    {{>footer}}
</body>

</html>